@import "../layout/src/scss/main";
@import '~cropperjs/dist/cropper.css';

.has-error .invalid-feedback {
    display: block !important;
}

.simbok-image-uploader {
    input {
        display: none;
    }

    .vue-cropper {
        width: 275px;
        margin-top: 15px;
    }
}

.language-select .vs__dropdown-menu {
    max-height: 125px !important;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.toast-header a, a.toast-body {
    color: #626262;
}
