/.idea

/node_modules

/public/hot/
/public/storage/
/public/dist/
/public/js/
/public/admin/
public/vendor/
/public/mix-manifest.json
/public/sitemap.xml


/storage/*.key
/storage/medialibrary/
/storage/logs/workers/
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

routes.txt

_ide_helper.php
.phpstorm.meta.php
_ide_helper_models.php
